@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Config */

header {
    background-color: #2E948A;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

#header-wrapper, #footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;

    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

#header-wrapper img {
    margin: 2% 5%;
    width: 100%;
    height: auto;
}

.menu-header a {
    text-decoration: none;
    color: #fff;
    padding: 25px;
}

/* Footer Config */

footer {
    background-color: #2E948A;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

.menu-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 30px;
}

.menu-footer a, .footer-options a {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    color: #fff;
}

.footer-options a {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 60px;
    box-sizing: border-box;

}

.container-logo-footer img {
    margin: 2% 5%;
    width: 100%;
    height: auto;
}

    /* Animation Footer + Header */

.btn-nav:hover {
    text-decoration: underline;
}

.footer-options a:hover {
    color: #2E948A;
    background-color: #fff;
}

/* main */

body {
    max-width: 100%;
}

/* Post */

#post #top {
text-align: center;
}

#top h1 {
    color: #FF4081;
    font-size: 3rem;
    padding-top: 60px;
}

#top p {
    color: #9D9D9D;
    font-size: 1rem;
    padding-bottom: 50px;
}

#top img {
    padding-bottom: 30px;
    width: 50vw;
}

#text {
    padding: 0 5%;
    padding: 3% 15%;
    display: flex;
    flex-direction: column;
}

#text h2 {
    color: #009688;
    padding: 50px 0 30px 0;
}


    /* Courses */

#courses {
    display: flex;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    margin: 0px auto;
    padding: 40px 15% 20px 15%;
    justify-content: space-evenly;
    align-items: baseline;
}

#begginers, #saving, #independence {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#courses h2 {
    color: #FF4081;
    margin: 20px 0;
}

#courses p {
    margin-bottom: 30px;
}

#courses a {
    font-size: 20px;
    margin: 30px 0;
    background-color: #FF4081;
    color: #fff;
    text-decoration: none;
    border: 2px solid #FF4081;
    border-radius: 60px;
    box-sizing: border-box;
    padding: 5px 30px; 
}

#courses a:hover {
    background-color: #fff;
    color: #FF4081;
}